# Base16 {{scheme-name}}
# Author: {{scheme-author}}

# choose
GUM_CHOOSE_CURSOR_FOREGROUND="#{{base0D-hex}}"
GUM_CHOOSE_CURSOR_BACKGROUND="#{{base00-hex}}"
GUM_CHOOSE_HEADER_FOREGROUND="#{{base0D-hex}}"
GUM_CHOOSE_HEADER_BACKGROUND="#{{base00-hex}}"
GUM_CHOOSE_ITEM_FOREGROUND="#{{base05-hex}}"
GUM_CHOOSE_ITEM_BACKGROUND="#{{base00-hex}}"
GUM_CHOOSE_SELECTED_FOREGROUND="#{{base00-hex}}"
GUM_CHOOSE_SELECTED_BACKGROUND="#{{base0D-hex}}"

# confirm
GUM_CONFIRM_PROMPT_FOREGROUND="#{{base05-hex}}"
GUM_CONFIRM_PROMPT_BACKGROUND="#{{base00-hex}}"
GUM_CONFIRM_SELECTED_FOREGROUND="#{{base00-hex}}"
GUM_CONFIRM_SELECTED_BACKGROUND="#{{base0D-hex}}"
GUM_CONFIRM_UNSELECTED_FOREGROUND="#{{base04-hex}}"
GUM_CONFIRM_UNSELECTED_BACKGROUND="#{{base01-hex}}"

# file
GUM_FILE_CURSOR_FOREGROUND="#{{base0D-hex}}"
GUM_FILE_CURSOR_BACKGROUND="#{{base00-hex}}"
GUM_FILE_SYMLINK_FOREGROUND="#{{base0C-hex}}"
GUM_FILE_SYMLINK_BACKGROUND="#{{base00-hex}}"
GUM_FILE_DIRECTORY_FOREGROUND="#{{base0D-hex}}"
GUM_FILE_DIRECTORY_BACKGROUND="#{{base00-hex}}"
GUM_FILE_FILE_FOREGROUND="#{{base05-hex}}"
GUM_FILE_FILE_BACKGROUND="#{{base00-hex}}"
GUM_FILE_PERMISSIONS_FOREGROUND="#{{base03-hex}}"
GUM_FILE_PERMISSIONS_BACKGROUND="#{{base00-hex}}"
GUM_FILE_SELECTED_FOREGROUND="#{{base00-hex}}"
GUM_FILE_SELECTED_BACKGROUND="#{{base0D-hex}}"
GUM_FILE_FILE_SIZE_FOREGROUND="#{{base04-hex}}"
GUM_FILE_FILE_SIZE_BACKGROUND="#{{base00-hex}}"
GUM_FILE_HEADER_FOREGROUND="#{{base0D-hex}}"
GUM_FILE_HEADER_BACKGROUND="#{{base00-hex}}"

# filter
GUM_FILTER_INDICATOR_FOREGROUND="#{{base0D-hex}}"
GUM_FILTER_INDICATOR_BACKGROUND="#{{base00-hex}}"
GUM_FILTER_SELECTED_PREFIX_FOREGROUND="#{{base0B-hex}}"
GUM_FILTER_SELECTED_PREFIX_BACKGROUND="#{{base00-hex}}"
GUM_FILTER_UNSELECTED_PREFIX_FOREGROUND="#{{base03-hex}}"
GUM_FILTER_UNSELECTED_PREFIX_BACKGROUND="#{{base00-hex}}"
GUM_FILTER_HEADER_FOREGROUND="#{{base0D-hex}}"
GUM_FILTER_HEADER_BACKGROUND="#{{base00-hex}}"
GUM_FILTER_TEXT_FOREGROUND="#{{base05-hex}}"
GUM_FILTER_TEXT_BACKGROUND="#{{base00-hex}}"
GUM_FILTER_CURSOR_TEXT_FOREGROUND="#{{base00-hex}}"
GUM_FILTER_CURSOR_TEXT_BACKGROUND="#{{base0D-hex}}"
GUM_FILTER_MATCH_FOREGROUND="#{{base0A-hex}}"
GUM_FILTER_MATCH_BACKGROUND="#{{base00-hex}}"
GUM_FILTER_PROMPT_FOREGROUND="#{{base0D-hex}}"
GUM_FILTER_PROMPT_BACKGROUND="#{{base00-hex}}"
GUM_FILTER_PLACEHOLDER_FOREGROUND="#{{base03-hex}}"
GUM_FILTER_PLACEHOLDER_BACKGROUND="#{{base00-hex}}"

# input
GUM_INPUT_PROMPT_FOREGROUND="#{{base0D-hex}}"
GUM_INPUT_PROMPT_BACKGROUND="#{{base00-hex}}"
GUM_INPUT_PLACEHOLDER_FOREGROUND="#{{base03-hex}}"
GUM_INPUT_PLACEHOLDER_BACKGROUND="#{{base00-hex}}"
GUM_INPUT_CURSOR_FOREGROUND="#{{base0D-hex}}"
GUM_INPUT_CURSOR_BACKGROUND="#{{base00-hex}}"
GUM_INPUT_HEADER_FOREGROUND="#{{base0D-hex}}"
GUM_INPUT_HEADER_BACKGROUND="#{{base00-hex}}"

# pager
GUM_PAGER_FOREGROUND="#{{base05-hex}}"
GUM_PAGER_BACKGROUND="#{{base00-hex}}"
GUM_PAGER_LINE_NUMBER_FOREGROUND="#{{base03-hex}}"
GUM_PAGER_LINE_NUMBER_BACKGROUND="#{{base00-hex}}"
GUM_PAGER_MATCH_FOREGROUND="#{{base0A-hex}}"
GUM_PAGER_MATCH_BACKGROUND="#{{base00-hex}}"
GUM_PAGER_MATCH_HIGH_FOREGROUND="#{{base00-hex}}"
GUM_PAGER_MATCH_HIGH_BACKGROUND="#{{base0A-hex}}"
GUM_PAGER_HELP_FOREGROUND="#{{base03-hex}}"
GUM_PAGER_HELP_BACKGROUND="#{{base00-hex}}"

# spin
GUM_SPIN_SPINNER_FOREGROUND="#{{base0D-hex}}"
GUM_SPIN_SPINNER_BACKGROUND="#{{base00-hex}}"
GUM_SPIN_TITLE_FOREGROUND="#{{base05-hex}}"
GUM_SPIN_TITLE_BACKGROUND="#{{base00-hex}}"

# table
GUM_TABLE_BORDER_FOREGROUND="#{{base03-hex}}"
GUM_TABLE_BORDER_BACKGROUND="#{{base00-hex}}"
GUM_TABLE_CELL_FOREGROUND="#{{base05-hex}}"
GUM_TABLE_CELL_BACKGROUND="#{{base00-hex}}"
GUM_TABLE_HEADER_FOREGROUND="#{{base0D-hex}}"
GUM_TABLE_HEADER_BACKGROUND="#{{base00-hex}}"
GUM_TABLE_SELECTED_FOREGROUND="#{{base00-hex}}"
GUM_TABLE_SELECTED_BACKGROUND="#{{base0D-hex}}"

# write
GUM_WRITE_BASE_FOREGROUND="#{{base05-hex}}"
GUM_WRITE_BASE_BACKGROUND="#{{base00-hex}}"
GUM_WRITE_CURSOR_LINE_NUMBER_FOREGROUND="#{{base0D-hex}}"
GUM_WRITE_CURSOR_LINE_NUMBER_BACKGROUND="#{{base01-hex}}"
GUM_WRITE_CURSOR_LINE_FOREGROUND="#{{base05-hex}}"
GUM_WRITE_CURSOR_LINE_BACKGROUND="#{{base01-hex}}"
GUM_WRITE_CURSOR_FOREGROUND="#{{base00-hex}}"
GUM_WRITE_CURSOR_BACKGROUND="#{{base0D-hex}}"
GUM_WRITE_END_OF_BUFFER_FOREGROUND="#{{base02-hex}}"
GUM_WRITE_END_OF_BUFFER_BACKGROUND="#{{base00-hex}}"
GUM_WRITE_LINE_NUMBER_FOREGROUND="#{{base03-hex}}"
GUM_WRITE_LINE_NUMBER_BACKGROUND="#{{base00-hex}}"
GUM_WRITE_HEADER_FOREGROUND="#{{base0D-hex}}"
GUM_WRITE_HEADER_BACKGROUND="#{{base00-hex}}"
GUM_WRITE_PLACEHOLDER_FOREGROUND="#{{base03-hex}}"
GUM_WRITE_PLACEHOLDER_BACKGROUND="#{{base00-hex}}"
GUM_WRITE_PROMPT_FOREGROUND="#{{base0D-hex}}"
GUM_WRITE_PROMPT_BACKGROUND="#{{base00-hex}}"

# log
GUM_LOG_LEVEL_FOREGROUND="#{{base0D-hex}}"
GUM_LOG_LEVEL_BACKGROUND="#{{base00-hex}}"
GUM_LOG_TIME_FOREGROUND="#{{base03-hex}}"
GUM_LOG_TIME_BACKGROUND="#{{base00-hex}}"
GUM_LOG_PREFIX_FOREGROUND="#{{base0E-hex}}"
GUM_LOG_PREFIX_BACKGROUND="#{{base00-hex}}"
GUM_LOG_MESSAGE_FOREGROUND="#{{base05-hex}}"
GUM_LOG_MESSAGE_BACKGROUND="#{{base00-hex}}"
GUM_LOG_KEY_FOREGROUND="#{{base0C-hex}}"
GUM_LOG_KEY_BACKGROUND="#{{base00-hex}}"
GUM_LOG_VALUE_FOREGROUND="#{{base0B-hex}}"
GUM_LOG_VALUE_BACKGROUND="#{{base00-hex}}"
GUM_LOG_SEPARATOR_FOREGROUND="#{{base03-hex}}"
GUM_LOG_SEPARATOR_BACKGROUND="#{{base00-hex}}"
